*-debug.log
*-error.log
/.yarn
/.nyc_output
/dist
/lib
/tmp
node_modules
.idea
test/**/*spec/*
oclif.manifest.json
*.edmx
!test/resources/template-generator-odata-client/edmxSource/SocialNetworkAccount.edmx
